/**
  Copyright 2012 Michael Morris-Pearce

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program. If not, see <http://www.gnu.org/licenses/>.
*/

audio {
    display: none;
}
.title {
    font-family: "Muli", sans-serif;
    font-size: 3em;
    text-align: center;
}
.piano-javascript {
    border: 3px solid #f88;
    display: block;
}
.piano {
    padding: 5px;
    margin: 0 auto;
    width: 80%;
}
.piano-container,
.piano-javascript {
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}
.piano-container {
    text-align: center;
}
.piano-keys {
    word-spacing: 0;
    letter-spacing: 0;
    font-size: 0;
}
.piano-pedal {
    margin: 10px;
    padding: 5px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.2em;
    font-family: "Muli", sans-serif;
}
.piano-sustain {
    color: black;
}
.piano-white,
.piano-black {
    display: inline-block;
    position: relative;
    vertical-align: top;
    direction: ltr;
    margin: 0;
    padding: 0;
}
.piano-white,
.piano-black-raised {
    border-radius: 2px;
    border-color: #222;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    cursor: pointer;
}
.piano-white {
    width: 24px;
    height: 100px;
    background-color: white;
    z-index: 1;
}
.piano-black {
    width: 0px;
    height: 100px;
    z-index: 2;
}
.piano-black-raised {
    width: 16px;
    height: 70px;
    position: relative;
    left: -10px;
    background-color: black;
}
.piano-A2 {
    background-image: url("keyimg/Z.png");
    background-repeat: no-repeat;
}
.piano-As2 {
    background-image: url("keyimg/S.png");
    background-repeat: no-repeat;
}
.piano-B2 {
    background-image: url("keyimg/X.png");
    background-repeat: no-repeat;
}
.piano-C3 {
    background-image: url("keyimg/C.png");
    background-repeat: no-repeat;
}
.piano-D3 {
    background-image: url("keyimg/V.png");
    background-repeat: no-repeat;
}
.piano-Cs3 {
    background-image: url("keyimg/F.png");
    background-repeat: no-repeat;
}
.piano-Ds3 {
    background-image: url("keyimg/G.png");
    background-repeat: no-repeat;
}
.piano-E3 {
    background-image: url("keyimg/B.png");
    background-repeat: no-repeat;
}
.piano-F3 {
    background-image: url("keyimg/N.png");
    background-repeat: no-repeat;
}
.piano-G3 {
    background-image: url("keyimg/M.png");
    background-repeat: no-repeat;
}
.piano-A3 {
    background-image: url("keyimg/Q.png");
    background-repeat: no-repeat;
}
.piano-Fs3 {
    background-image: url("keyimg/J.png");
    background-repeat: no-repeat;
}
.piano-Gs3 {
    background-image: url("keyimg/K.png");
    background-repeat: no-repeat;
}
.piano-As3 {
    background-image: url("keyimg/2.png");
    background-repeat: no-repeat;
}
.piano-B3 {
    background-image: url("keyimg/W.png");
    background-repeat: no-repeat;
}
.piano-C4 {
    background-image: url("keyimg/E.png");
    background-repeat: no-repeat;
}
.piano-D4 {
    background-image: url("keyimg/R.png");
    background-repeat: no-repeat;
}
.piano-Cs4 {
    background-image: url("keyimg/4.png");
    background-repeat: no-repeat;
}
.piano-Ds4 {
    background-image: url("keyimg/5.png");
    background-repeat: no-repeat;
}
.piano-E4 {
    background-image: url("keyimg/T.png");
    background-repeat: no-repeat;
}
.piano-F4 {
    background-image: url("keyimg/Y.png");
    background-repeat: no-repeat;
}
.piano-G4 {
    background-image: url("keyimg/U.png");
    background-repeat: no-repeat;
}
.piano-A4 {
    background-image: url("keyimg/I.png");
    background-repeat: no-repeat;
}
.piano-Fs4 {
    background-image: url("keyimg/7.png");
    background-repeat: no-repeat;
}
.piano-Gs4 {
    background-image: url("keyimg/8.png");
    background-repeat: no-repeat;
}
.piano-As4 {
    background-image: url("keyimg/9.png");
    background-repeat: no-repeat;
}
.piano-B4 {
    background-image: url("keyimg/O.png");
    background-repeat: no-repeat;
}
.piano-C5 {
    background-image: url("keyimg/P.png");
    background-repeat: no-repeat;
}
