body,
h1,
.container,
#sidr {
    font-family: "Muli", sans-serif;
}
.sidr {
    display: block;
    position: fixed;
    background-color: #000;
    color: #fff;
    font-size: 1.3em;
    top: 0;
    height: 100%;
    z-index: 999999;
    width: 260px;
    overflow-x: hidden;
    overflow-y: auto
}
.sidr.right {
    left: auto;
    right: -260px
}
.sidr.left {
    left: -260px;
    right: auto
}
#display {
    margin: 0 auto;
}
#toggleBar {
    float: right;
    min-height: 100vh;
    min-width: 1%;
    padding: 1%;
    background-color: #000;
}
span.glyphicon-chevron-right {
    color: white;
    font-size: 2em;
}
.vcenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
